*{
    margin: 0;
    padding: 0;
}

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared style */
.display-flex{
    display: flex;
}

header{
    background-color: bisque;
}
.navsection{
    justify-content: space-between;
    max-width: 1440px;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 102px;
}
.nav-header{
    font-size: 2.8rem;
    color: #131313;
}
.nav-list{
    list-style: none;
    margin-right: 30px;
}
.nav-links{
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
    color: #424242;
}
.textsection{
    max-width: 868px;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    gap: 32px;
}
.textsection h2{
    font-size: 4rem;
    font-weight: bold;
    color: #131313;
}

.textsection p{
    font-size: 1rem;
    line-height: 26px;
    color: #727272;
}
.btn-all{
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
}
.bannerimage{
    max-width: 1440px;
    margin: 50px auto;
}

.main1{
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.mainimages{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.main1 .Our-features{
    max-width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}
.ql{
    color: #727272;
    font-weight: 500;
}
.of{
    color: #131313;
}
.ftures{
    color: #FF900E;
}
.Our-features p{
    font-size: 1rem;
    color: #727272;
}
#btn-explore{
    margin-left: 0px;
}
/* .bannerimage img{
    width: 100%;
} */
/* particular style */






@media screen and (max-width: 576px) {
    .navsection, .nav-ul{
        flex-direction: column;
        gap: 20px;
    }
    .bannerimage img{
        width: 100%;
    }
    .main1{
        flex-direction: column;
        gap: 30px;
    }
    .mainimages{
        grid-template-columns: repeat(2, 1fr);
    }
    .mainimages img{
        width: 100%;
    }
    .Our-features{
        text-align: center;
    }
    #btn-explore{
        margin: 0 auto;
    }
}