*{
    margin: 0;
    padding: 0;
}

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared style */
.display-flex{
    display: flex;
}

header{
    background-color: bisque;
}
.navsection{
    justify-content: space-between;
    max-width: 1440px;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 102px;
}
.nav-header{
    font-size: 2.8rem;
    color: #131313;
}
.nav-list{
    list-style: none;
    margin-right: 30px;
}
.nav-links{
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
    color: #424242;
}
.textsection{
    max-width: 868px;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    gap: 32px;
}
.textsection h2{
    font-size: 4rem;
    font-weight: bold;
    color: #131313;
}

.textsection p{
    font-size: 1rem;
    line-height: 26px;
    color: #727272;
}
.btn-all{
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
}
.bannerimage{
    max-width: 1440px;
    margin: 50px auto;
}

.main1{
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 130px;
}

.mainimages{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.main1 .Our-features{
    max-width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}
.ql{
    color: #727272;
    font-weight: 500;
}
.of{
    color: #131313;
}
.ftures{
    color: #FF900E;
}
.Our-features p{
    font-size: 1rem;
    color: #727272;
}
#btn-explore{
    margin-left: 0px;
}
.mainmiddle{
    max-width: 1440px;
    display: flex;
    gap: 146px;
    margin: 0 auto;
}
.middleleft{
    max-width: 587px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.middleleft h2{
    font-size: 2.8rem;
    font-weight: bold;
    color: #131313;
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}
.middleleft p{
    font-size: 1rem;
    color: #727272;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.featurecard{
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}
.featurecard h4{
    font-size: 1.25rem;
    font-weight: 600;
    color: #131313;
}
.featurecard p{
    font-size: 1rem;
    color: #727272;
    line-height: 26px;
}
.middleleftimage{
    max-width: 708px;
}
#middlebtn h3{
    font-size: 4rem;
}
#middlebtn p{
    font-size: 1.25rem;
}
#middlebtn{
    width: 342px;
    height: 200px;
    margin-top: -123px;
    margin-left: -92px;
}
.our-features{
    max-width: 1440px;
    margin: 0 auto;
}
.our-features h3{
    font-size: 2.8rem;
    font-weight: bold;
    color: #131313;
}
.our-features p{
    color: #727272;
    font-size: 1rem;
    line-height: 26px;
    max-width: 542px;
    text-align: justify;
    margin-top: 24px;
}
.ourtext{
    margin: 130px 0px 100px 0px;
}
.lowercard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 124px;
    max-width: 1340px;
    margin: 0 auto;
}
.ourcard{
    max-width: 242px;
    height: 242px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.ourcard h4{
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
    margin: 0px;
    padding: 0px;
}
.ourcard p{
    font-size: 1rem;
    color: #727272;
}
/* .bannerimage img{
    width: 100%;
} */
/* particular style */






@media screen and (max-width: 576px) {
    .navsection, .nav-ul, .mainmiddle{
        flex-direction: column;
        gap: 20px;
    }
    .bannerimage img{
        width: 100%;
    }
    .main1{
        flex-direction: column;
        gap: 30px;
    }
    .mainimages, .lowercard{
        grid-template-columns: repeat(2, 1fr);
    }
    .mainimages img, .middleleftimage img{
        width: 100%;
    }
    .Our-features{
        text-align: center;
    }
    #btn-explore, #middlebtn{
        margin: 0 auto;
    }
    .mainmiddle{
        margin: 0 4px;
    }
    .lowercard{
        gap: 10px;
    }
    .our-features{
        padding: 5px;
    }
}